html,
body {
	background-color: #EFEFF4;
	font-family: "微软雅黑";
}

.mui-content {
	height: 100%;
	
}

.mui-bar-nav {
	background-color: #3388FF;
	background-image: linear-gradient(145deg, #218cf7 20%,#25bef2 80%);
}

.title-text {
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	height: 100%;
	line-height: 45px;
}

v-cloak] {
		display: none;
		}
		